body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  background-color: #fff;
  color: #303b35;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
}

.ship_price {
    font-size: 18px;
}

* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  width: 100%;
  content: " ";
  height: 0;
}

.cnt_dib {
  font-size: 0;
}

.dib {
  display: inline-block;
  font-size: 24px;
  vertical-align: top;
}

.white {
  color: #fff;
}

.red {
  color: #cf3b2a;
}

.green {
  color: #41b06e;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.block_1 {
  background: #41B06E url(../img/header.png) no-repeat center top;
}

.block_1 .wrapper {
  position: relative;
}

.block_1 .prod {
  position: absolute;
  display: block;
  max-height: 500px;
    top: 220px;
  left: 30px;
}

.block_1 .content {
  width: 500px;
  margin-left: 500px;
  text-transform: uppercase;
}

.block_1-title {
  text-align: center;
}

.block_1-title h1 {
  font-size: 65px;
  margin: 0;
}

.block_1-title p {
  color: #fff;
  margin: 0 0 30px;
  font-size: 32px;
}

.head_list-title {
  text-align: center;
}

.head_list .cnt_dib {
  margin-bottom: 15px;
}

.head_list .cnt_dib:nth-child(1) img {
  width: 30px;
  margin: 0 13px 0 7px;
}

.head_list .cnt_dib:nth-child(2) img {
  width: 40px;
  margin-right: 10px;
}

.head_list .cnt_dib:nth-child(3) img {
  width: 38px;
  margin-right: 12px;
}

.head_list img {
  vertical-align: middle;
}

.head_list li {
  width: 450px;
  vertical-align: middle;
}

.price {
  background: #fff;
  padding: 15px 15px 15px 15px;
  text-align: center;
}

.price p {
  margin: 0;
}

.new_price {
  font-weight: bold;
}

.old_price span {
  text-decoration: line-through;
}

.shipment_price {
  font-size: 18px;
}

.btn {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  width: 400px;
  padding: 30px 10px;
  text-align: center;
  margin: 20px auto 20px;
  background: #ff0000 url(../img/btn.png) repeat;
  border: #B02D1E 3px solid;
  transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  text-transform: uppercase;
}

.btn:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.block_2 {
  background: #2B332F;
  color: #fff;
}

.block_2 .wrapper {
  position: relative;
  padding: 50px 0;
}

.block_2 .content {
  width: 570px;
}

.block_2 .content h3 {
  font-size: 45px;
}

.block_2-fatboy {
  position: absolute;
  right: 0;
  bottom: 0;
}

.block_2-bottom {
  background: #41B06E;
  width: 750px;
  padding: 20px 110px 20px 50px;
  text-align: center;
}

.block_2-bottom span {
  display: block;
  text-transform: uppercase;
  color: #303b35;
}

.block_3 {
  position: relative;
}

.block_3 .wrapper {
  padding: 20px 0;
  text-align: center;
}

.block_3:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #303b35;
  top: 34px;
  left: 0;
  z-index: 0;
}

.block_3 h3 {
  position: relative;
  background: #fff;
  z-index: 3;
  margin-bottom: 30px;
}

.block_3-list li {
  width: 210px;
  min-height: 205px;
  margin-right: 40px;
  font-size: 18px;
  padding: 140px 10px 10px;
}

.block_3-list li:nth-child(1) {
  background: #41B06E url(../img/li_2_1.png) no-repeat center top;
}

.block_3-list li:nth-child(2) {
  background: #41B06E url(../img/li_2_2.png) no-repeat center top;
}

.block_3-list li:nth-child(3) {
  background: #41B06E url(../img/li_2_3.png) no-repeat center top;
}

.block_3-list li:nth-child(4) {
  background: #41B06E url(../img/li_2_4.png) no-repeat center top;
  margin-right: 0;
}

.block_4 {
  background: #282E2A url(../img/forth_scr.png) no-repeat center top;
  padding-bottom: 30px;
}

.block_4 .wrapper {
  overflow: hidden;
}

.block_4 .content {
  width: 600px;
  margin-left: 400px;
  color: #fff;
  padding-top: 30px;
  -moz-transform: rotate(13.5deg);
  -webkit-transform: rotate(13.5deg);
  -o-transform: rotate(13.5deg);
  transform: rotate(13.5deg);
}

.block_4 .content h3 {
  text-align: center;
  margin-bottom: 20px;
  -moz-transform: rotate(-13.5deg);
  -webkit-transform: rotate(-13.5deg);
  -o-transform: rotate(-13.5deg);
  transform: rotate(-13.5deg);
  padding: 0 50px;
}

.block_4 .content h3.green {
  margin-bottom: 0;
}

.block_4-list {
  margin-bottom: 15px;
  -moz-transform: rotate(-13.5deg);
  -webkit-transform: rotate(-13.5deg);
  -o-transform: rotate(-13.5deg);
  transform: rotate(-13.5deg);
}

.block_4-list img {
  width: 58px;
  vertical-align: middle;
}

.block_4-list div {
  vertical-align: middle;
  width: 520px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 30px;
}

.block_5 {
  position: relative;
  background: #41B06E;
  z-index: 50;
}

.block_5-flower {
  position: absolute;
  bottom: -35px;
  left: 50px;
}

.block_5 .wrapper {
  padding: 20px 0 0;
}

.block_5:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #303b35;
  top: 34px;
  left: 0;
  z-index: 0;
}

.block_5 h3 {
  position: relative;
  background: #41B06E;
  z-index: 3;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
  font-size: 45px;
}

.block_5 h3.white {
  font-size: 28px;
  margin-bottom: 50px;
}

.block_5-list {
  background: url(../img/prod3.png) no-repeat 50% center;
    min-height: 330px;
    background-size: auto 315px;
}

.block_5-list li {
  width: 300px;
  margin-bottom: 50px;
  font-size: 18px;
  color: #fff;
}

.block_5-list li:nth-child(odd) {
  margin-right: 400px;
}

.block_5-list li img {
  width: 48px;
  margin-right: 10px;
}

.block_5-list .block_5-list-title {
  width: 242px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #303b35;
  margin-bottom: 10px;
}

.block_5 .btn {
  margin-bottom: -45px;
  position: relative;
}

.block_6 {
  padding: 100px 0 30px;
  background: #fff;
  position: relative;
}

.block_6:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #303b35;
  top: 115px;
  left: 0;
  z-index: 0;
}

.block_6 h3 {
  position: relative;
  background: #fff;
  z-index: 3;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.block_6 h3.white {
  margin-bottom: 50px;
}

.block_6-title {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
}

.block_6-list li {
  width: 460px;
  min-height: 100px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  background: #41B06E;
}

.block_6-list li:nth-child(odd) {
  margin-right: 80px;
}

.block_6-list li img {
  width: 45px;
  vertical-align: middle;
  margin-right: 15px;
}

.block_6-list li div {
  width: 352px;
  vertical-align: middle;
  font-size: 18px;
}

.block_6-list li span {
  color: #303b35;
  font-weight: bold;
}

.block_7 {
  background: #fff url(../img/doc.png) no-repeat center top;
}

.block_7 .content {
  width: 500px;
  position: relative;
}

.block_7 .content:before {
  content: "";
  position: absolute;
  display: block;
  width: 45px;
  height: 41px;
  background: url(../img/quote.png) no-repeat center;
  top: 100px;
  left: -65px;
}

.block_7 h3 {
  font-size: 36px;
}

.block_7-bottom {
  margin-top: 50px;
}

.recom {
  vertical-align: middle;
  color: #3B5376;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  font-size: 20px;
  border: 5px solid #395175;
  margin-bottom: 15px;
  -moz-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin-right: 30px;
}

.sign {
  width: 150px;
  vertical-align: middle;
}

.block_8 {
  position: relative;
  padding: 30px 0;
}

.block_8:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #303b35;
  top: 52px;
  left: 0;
  z-index: 0;
}

.block_8 h3 {
  text-align: center;
  position: relative;
  background: #fff;
  z-index: 21;
  font-size: 45px;
}

.slider {
  position: relative;
  width: 900px;
  margin: 20px auto;
}

.comment {
  padding-bottom: 20px;
}

.ava {
  width: 245px;
  position: relative;
}

.ava img {
  width: 100%;
  display: block;
}

.ava span {
  position: absolute;
  display: block;
  padding: 5px;
  background: #41B06E;
  color: #fff;
  text-align: center;
  right: 10px;
  bottom: 10px;
}

.com_tx {
  width: 655px;
  font-size: 18px;
  padding: 20px;
}

.com-name {
  display: block;
  text-align: right;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
}

.block_8-flower {
  position: absolute;
  bottom: -120px;
  left: 50px;
}

.block_9 {
  background: url(../img/footer.png) no-repeat center top;
  padding-top: 90px;
  background-size: cover;
}

.block_9 .content {
  width: 500px;
  padding: 30px 0 18px;
}

.block_9 h3.white {
  font-size: 50px;
  padding-right: 30px;
}

.block_9 .subtitle {
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 20px;
}

.block_9-middle {
  margin-bottom: 50px;
}

.block_9 .price {
  width: 280px;
  text-align: left;
  padding: 0;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
}

.block_9 .prod {
  /*max-width: 220px;*/
  max-height: 250px;
  vertical-align: middle;
}

.form {
  width: 400px;
  margin: -50px auto 0;
}

.inp {
  width: 100%;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0 10px;
  height: 48px;
  border: 2px solid #41B06E;
  background: transparent;
  color: #41B06E;
  margin-bottom: 10px;
  outline: none;
  font-size: 20px;
}

.inp::-webkit-input-placeholder {
  color: #41B06E;
}

.inp::-moz-placeholder {
  color: #41B06E;
}

.inp:-moz-placeholder {
  color: #41B06E;
}

.inp:-ms-input-placeholder {
  color: #41B06E;
}

select.inp {
  background: transparent url(../img/br_green.png) no-repeat 95% 50%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  padding: 0 20px 0 10px;
}

.form .price {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.form .btn {
  width: 80%;
  padding: 20px 10px;
  margin: 10px auto;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    width: 100%;
  }

  .block_1 {
    background: #41B06E;
  }

  .block_1 .content {
    margin: 0 auto;
  }

  .block_1 .prod {
    position: static;
    display: block;
    max-height: 300px;
    margin: 0 auto 20px;
  }

  .block_2 .content {
    width: 90%;
    margin: 0 auto;
  }

  .block_2-fatboy {
    display: none;
  }

  .block_2-bottom {
    background: #41B06E;
    width: 100%;
    padding: 20px;
  }

  .block_3-list li {
    width: 150px;
  }

  .block_4 {
    background: #282E2A;
  }

  .block_4 .content {
    margin: 0 auto;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
  }

  .block_4-list {
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
	margin-left: 20px;
  }

  .block_4 .content h3 {
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
  }

  .block_5-list {
    background: none;
    text-align: center;
  }

  .block_5-list li:nth-child(odd) {
    margin-right: 100px;
  }

  .block_6-list li {
    margin: 0 auto 30px !important;
    display: block;
        max-width: 460px;
    width: 100%;
	min-height: unset;
  }
  .block_6-list li div{
    width: calc(100% - 67px);
  }
  .block_7 {
    background: #fff;
  }

  .block_7 .content {
    margin: 0 auto;
        width: 100%;
    max-width: 460px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .slider {
    width: 600px;
  }

  .ava {
    width: 150px;
  }

  .ava span {
    font-size: 18px;
  }

  .com_tx {
    padding-top: 0;
    font-size: 16px;
    width: 400px;
  }

  .com-name {
    margin-top: 0;
  }

  .block_8-flower {
    left: -95px;
  }

  .block_9 {
    background: #303b35;
    padding-top: 0;
  }

  .block_9 .subtitle {
    color: #41B06E;
  }

  .block_9 .content {
    margin: 0 auto;
  }
}

.section_copm {
  position: relative;
  padding: 20px 0;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 70px;
}
.section_copm ul {
    margin-top: 35px;
    text-align: center;
  font-size: 0;
 
  text-align: center;
}
.section_copm ul:after{
  content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 0;
    visibility: hidden;
}
.section_copm ul li:nth-child(8) span:before {
}

.section_copm ul li:nth-child(8):nth-child(8) small {
    width: 80px;
    height: 80px;
    font-size: 13px;
    letter-spacing: 0;
    padding-top: 16px;
}

.section_copm ul li {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    font-size: 20px;
    margin: 25px 0 55px;
    position: relative;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.section_copm ul li small {
    right: 35px;
    top: -15px;
    position: absolute;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #39709b;
    width: 50px;
    text-align: center;
    background: #39709b;
    color: #fff;
    box-shadow: 0 0 0 3px rgba(57, 112, 155, .3);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -2px;
    padding: 13px 0;
    z-index: 1;
}


.section_copm ul li:nth-child(6) small {
    font-size: 16px;
    letter-spacing: -1px;
    padding: 17px 0;
}

.section_copm ul li:nth-child(7) small {
    font-size: 13px;
    padding: 17px 0;
    width: 75px;
    height: 75px;
    padding-top: 21px;
    letter-spacing: 0;
}

.section_copm ul li small + small {
    width: 78px;
    right: -20px;
    top: 10px;
    padding: 23px 0 !important;
    z-index: 0;
}

.section_copm ul li span {
    display: block;
  text-align: left;
}

.section_copm ul li span:before {
    content: '';
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto 15px;
}

.section_copm ul li:nth-child(1) span:before {
}

.section_copm ul li:nth-child(2) span:before {
}

.section_copm ul li:nth-child(3) span:before {
}

.section_copm ul li:nth-child(4) span:before {
}

.section_copm ul li:nth-child(5) span:before {
}

.section_copm ul li:nth-child(6) span:before {
}

.section_copm ul li:nth-child(7) span:before {
}
.prod-bl4 {
  display: none;
}

.list4 {
  position: relative;

  margin: 40px 0;
}

.list4-item {
  margin-bottom: 30px;

  font-size: 0;
}

.list4-item img {
  display: inline-block;
  width: 60px;
  margin-right: 10px;

  vertical-align: top;
}

.list4-desc {
  display: inline-block;
  width: 220px;

  vertical-align: top;
}

.list4-item h3 {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 16px;
  color: #241c18;
}

.list4-item p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #241c18;
}

.bl4-bottom {
  position: relative;
  margin-top: 70px;
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.bl4-bottom img {
  margin: -5px auto 0;
}

.bl4-bottom p {
  position: relative;
  z-index: 2;

  padding: 30px 20px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.row-btn {
  margin: 70px 0;

  text-align: center;
}

.btn-bl4 {
  display: block;
  margin-bottom: 20px;
}

.timer-b4 {
  display: block;
  width: 100%;
  padding: 0;

  font-size: 0;
  text-align: left;
}

.timer-b4 .block-sale {
  margin: 0;
  padding: 10px 6px 12px;

  text-align: center;

  border-right: 1px dotted #ffffff;
}

.timer-b4 .block-sale strong {
  font-weight: 400;
  font-size: 26px;
}

.timer-b4 #timer2 {
  display: table-cell;
  width: 70%;

  vertical-align: middle;
  text-align: center;
}

.cl {
  clear: both;
}

.prod-color {
  color: #95cf32;
}

.girl-b2 {
  width: 100%;
}
.note {
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin-top: 21px;
}
@media (min-width: 1200px) {
  .block2-desc {
    width: 65%;
    margin: 40px 0 75px;
  }

  .title {
    font-size: 43px;
  }

  .consist-block {
    width: 1130px;
  }
}

@media (min-width: 1025px) {
  .title {
    margin-bottom: 40px;
    font-size: 40px;
  }

  .block2-desc p {
    text-align: justify;
  }
}

@media (min-width: 991px) {
  .prod-b2 {
    display: inline-block;
    width: 28%;
    max-width: 150px;
    vertical-align: middle;
  }

  .text-img p {
    display: inline-block;
    width: 72%;
    vertical-align: middle;
  }

  .block2-desc {
    width: 58%;
    margin: 40px 0 75px 4%;
  }

  .title-b2 {
    width: 90%;
    line-height: 1.35;
    text-align: left;
  }

  .title {
    font-size: 33px;
  }

  img.girl-b2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37%;
    max-width: 374px;
  }

  .consist-block {
    position: relative;
    width: 930px;
    margin: 0 auto;
  }


  .list4 {
    text-align: center;
  }

  .list4-item {
    display: inline-block;
    width: 28%;
    margin: 0 2% 30px;
    vertical-align: top;
  }

  .list4-item img {
    display: block;
    width: 120px;
    margin: 0 auto 15px;
  }

  .list4-desc {
    display: block;
    width: 100%;
  }

  .consist-block1 .list4-item h3 {
    min-height: 35px;
  }

  .prod-bl4 {
    display: inline-block;
    width: 34%;
    max-width: 468px;
    margin: 10px auto 50px;
    vertical-align: top;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (max-width: 991px) {
  .section_copm ul li{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .inp {
        width: 300px;
    display: block;
    margin: 10px auto;
  }
  .block_1 .content,.head_list li,.btn, .block_4 .content,.form,.slider,.block_9 .content,.com_tx,.block_4-list div{
    width: 100%;
  }
  .head_list li
  {
	  font-size: 16px;
  }
  .section_copm ul li span{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .section_copm ul li small{
    right: calc(50% - 75px);
  }
  .block_9-middle {
    margin-bottom: 50px;
}
  .block_1 .content{
    max-width: 500px;
	padding: 15px 10px 0;
  }
  .head_list li{
    max-width: 450px;
    width: calc(100% - 50px);
  }
  .block_1-title h1 {
    font-size: 42px;
  }
  /* .price{ */
        /* padding: 15px 15px 15px 40px; */
  /* } */
  .btn{
    max-width: 300px;
  }
  .block_3 .wrapper
  {
	  padding: 20px 10px;
  }
  .block_3-list li{
        width: 50%;
    margin: 0;
	min-height: 210px;
  }
  .block_4 .content{
    max-width: 600px;
    margin: 0 auto;
  }
  .block_8-flower{
    display: none;
  }
  .block_9 .prod{
    display: block;
    margin: 40px auto -50px;
  }
  .form{
    max-width: 400px;
  }
  .slider{
    max-width: 600px;
  }
  .block_5 h3{
    font-size: 25px;
  }
  .block_5 h3.white{
    margin-top: 20px;
    font-size: 19px;
  }
  .block_9 .content{
    max-width: 500px;
  }
  .com-name {
    margin-top: 18px;
}
  .ava{
      margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    display: block;
  }
  .bx-wrapper .bx-controls-direction .bx-prev{
    left: 0;
    top: 16%;
  }
  .bx-wrapper .bx-controls-direction .bx-next{
    right: 0;
    top: 16%;
  }
  .block_4-list div{
    max-width: 542px;
        width: calc(100% - 58px);
  }
  .block_5-list li{
    margin: 0 auto 50px!important;
	text-align: left;
	padding: 0 10px;
	
  }
  .block_5-list .block_5-list-title
  {
	  width: 220px;
	  font-size: 20px;
  }
  .title-b4-1{
        font-size: 31px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
  .block_9 h3.white{
        font-size: 44px;
    text-align: center;
    padding-right: 0;
  }
  .block_9 .subtitle{
    text-align: center;
    margin-top: 20px;
        font-size: 29px;
  }
  .block_9 .price{
    width: 100%;
    text-align: center;
  }
  .price p {
    margin: 10px auto;
}
  .com_tx{
    padding: 20px 15px;
  }
  .block_8 h3{
    font-size: 29px;
  }
  .block_4 .content h3{
        padding: 0 15px;
  }
  .block_2 .content h3 {
    font-size: 32px;
}
  .head_list .cnt_dib{
    padding-left: 5px;
  }
  .block_9 .prod {
    max-width: 300px;
    max-height: 310px;
  }
}